name: Build Web
 
on: push

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Build Web
        run: |
          chmod +x ./gradlew
          ./gradlew jsBrowserProductionWebpack

      - name: Debug build output
        run: |
          echo "=== composeApp/build ==="
          ls -R composeApp/build || true

      - name: Prepare Pages artifact
        run: |
          mkdir -p site
          cp -r composeApp/build/processedResources/js/main/* site/
          cp -r composeApp/build/kotlin-webpack/js/productionExecutable/* site/

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: site

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v3
